@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 197 6% 20%;
  /* #2C3639 */
  --foreground: 39 11% 83%;
  /* #DCD7C9 */
  --card: 197 6% 20%;
  /* #2C3639 */
  --card-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --popover: 197 6% 20%;
  /* #2C3639 */
  --popover-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --primary: 180 29% 72%;
  /* #A5C9CA */
  --primary-foreground: 197 6% 20%;
  /* #2C3639 */
  --secondary: 180 11% 28%;
  /* #3F4E4F */
  --secondary-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --muted: 180 11% 28%;
  /* #3F4E4F */
  --muted-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --accent: 30 28% 50%;
  /* #A27B5C */
  --accent-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 30 28% 50%;
  /* #A27B5C */
  --input: 180 11% 28%;
  /* #3F4E4F */
  --ring: 180 29% 72%;
  /* #A5C9CA */
  --radius: 0.5rem;
}

.dark {
  --background: 180 11% 18%;
  /* Darker version of #3F4E4F */
  --foreground: 39 11% 83%;
  /* #DCD7C9 */
  --card: 180 11% 18%;
  /* Darker version of #3F4E4F */
  --card-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --popover: 180 11% 18%;
  /* Darker version of #3F4E4F */
  --popover-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --primary: 180 29% 72%;
  /* #A5C9CA */
  --primary-foreground: 197 6% 20%;
  /* #2C3639 */
  --secondary: 197 6% 20%;
  /* #2C3639 */
  --secondary-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --muted: 197 6% 20%;
  /* #2C3639 */
  --muted-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --accent: 30 28% 50%;
  /* #A27B5C */
  --accent-foreground: 39 11% 83%;
  /* #DCD7C9 */
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 30 28% 50%;
  /* #A27B5C */
  --input: 197 6% 20%;
  /* #2C3639 */
  --ring: 180 29% 72%;
  /* #A5C9CA */
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}